<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment(title,path)">
    <meta charset="UTF-8">
    <title>悟空商城 wukong-shop</title>
    <link rel="stylesheet" th:href="@{/shop/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/shop/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/shop/css/common.css}">
    <link rel="stylesheet" th:href="@{/shop/styles/header.css}">
    <link rel="stylesheet" th:href="@{'/shop/styles/'+${path}+'.css'}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert2/sweetalert2.min.css}"/>
    <meta name="keywords" content="悟空商城,wukong-shop,悟空,商城,开源商城,wukong,企业级商城,大型商城项目,Java商城,springboot商城,SpringBoot商城项目,Spring Boot 大型线上商城项目实战教程" />
    <meta name="description" content="wukong-shop 项目（悟空商城）是一套电商系统，包括 wukong-shop 商城系统及 wukong-shop-admin 商城后台管理系统，基于 Spring Boot 2.X 及相关技术栈开发。前台商城系统包含首页门户、商品分类、新品上线、首页轮播、商品推荐、商品搜索、商品展示、购物车、订单结算、订单流程、个人订单管理、会员中心、帮助中心等模块。后台管理系统包含数据面板、轮播图管理、商品管理、订单管理、会员管理、分类管理、设置等模块。Spring Boot 大型线上商城项目实战教程"/>
</head>
<nav id="nav" th:fragment="nav-fragment">
    <div class="banner_x center">
        <a th:href="@{/index}" class="logo"><h1>悟空商城</h1></a>
        <div class="fr">
            <div class="search">
                <input class="text" type="text" id="keyword" autocomplete="off">
                <div class="search_hot">
                </div>
            </div>
            <div class="button iconfont icon-search" onclick="search()"></div>
        </div>
    </div>
</nav>
<header id="header" th:fragment="header-fragment">
    <div class="center">
        <ul class="fl">
            <li><a th:href="@{/index}">悟空商城</a></li>
            <li><a th:href="@{/admin}">后台管理系统</a></li>
            <li><a href="https://github.com/wukongnotnull/shop-springboot-thymeleaf">云服务</a></li>
            <li><a href="https://github.com/wukongnotnull/shop-springboot-thymeleaf">有品</a></li>
            <li><a href="https://github.com/wukongnotnull/shop-springboot-thymeleaf">天星数科</a></li>
            <li><a href="https://github.com/wukongnotnull/shop-springboot-thymeleaf">小爱开发平台</a></li>
            <li><a href="https://github.com/wukongnotnull/shop-springboot-thymeleaf">GitHub 地址</a></li>
            <li><a href="https://gitee.com/wukongnotnull/shop-springboot-thymeleaf">码云Gitee 地址</a></li>
        </ul>
        <div class="fr">
            <!--            用户登录状态下-->
            <th:block th:unless="${session.LOGIN_SUCCESS_SESSION_KEY==null}">
                <div class="user">
                    <ul class="selector">
                        <li>
                            <a th:href="@{/personal}">
                                个人中心
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/orders}">
                                我的订单
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/logout}">
                                退出
                            </a>
                        </li>
                    </ul>
                    <a href="##" class="username">
                        <th:block th:text="${session.LOGIN_SUCCESS_SESSION_KEY.nickName}"></th:block>
                        <i class="iconfont icon-down"></i>
                    </a>
                </div>
                <div class="shopcart">
                    <a th:href="@{/shop-cart}" style="color: white;"><i class="iconfont icon-cart"></i>
                        购物车 (
                                 <th:block th:text="${session.LOGIN_SUCCESS_SESSION_KEY.cartItemCount}"></th:block>
                                 )
                    </a>
                </div>
            </th:block>

<!--            未登录状态下-->
            <th:block th:if="${session.LOGIN_SUCCESS_SESSION_KEY==null}">
                <ul class="login">
                    <li><a th:href="@{/login}">登录</a></li>
                    <li><a th:href="@{/register}">注册</a></li>
                </ul>
                <div class="shopcart">
                    <a th:href="@{/shop-cart}" style="color: white;"><i class="iconfont icon-cart"></i>
                        购物车</a>
                </div>
            </th:block>
        </div>
    </div>
</header>
</html>
