<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wukongnotnull.shop.mapper.GoodsCategoryMapper">

    <resultMap id="BaseResultMap" type="com.wukongnotnull.shop.domain.GoodsCategory">
            <id property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="categoryLevel" column="category_level" jdbcType="TINYINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="categoryRank" column="category_rank" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id,category_level,parent_id,
        category_name,category_rank,is_deleted,
        create_time,create_by,update_time,
        update_by
    </sql>

<!--    根据分类级别、父分类id、最大数量 查询商品一级分类列表-->
    <select id="selectByLevelAndParentIdsAndNumber" resultType="com.wukongnotnull.shop.domain.GoodsCategory">
        select <include refid="Base_Column_List"/>
        from shop_goods_category
        where category_level = #{categoryLevel}
        and parent_id in
        <foreach item="parentId" collection="parentIds" open="(" close=")" separator=",">
            #{parentId}
        </foreach>
        and is_deleted = 0
        order by category_rank desc
        <if test="categoryMaxNum > 0">
            limit 0, #{categoryMaxNum}
        </if>
    </select>

    <select id="selectCategoryBy" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shop_goods_category
        where category_id = #{categoryId}


    </select>


</mapper>
