<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wukongnotnull.shop.mapper.IndexConfigMapper">

    <resultMap id="BaseResultMap" type="com.wukongnotnull.shop.domain.IndexConfig">
            <id property="configId" column="config_id" jdbcType="BIGINT"/>
            <result property="configName" column="config_name" jdbcType="VARCHAR"/>
            <result property="configType" column="config_type" jdbcType="TINYINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="redirectUrl" column="redirect_url" jdbcType="VARCHAR"/>
            <result property="configRank" column="config_rank" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        config_id,config_name,config_type,
        goods_id,redirect_url,config_rank,
        is_deleted,create_time,create_by,
        update_time,update_by
    </sql>

    <select id="findIndexConfigList" resultType="com.wukongnotnull.shop.domain.IndexConfig">
        select
        <include refid="Base_Column_List"/>
        from shop_index_config
        where config_type = #{configType}
        and is_deleted = 0
        order by config_rank desc
        limit #{indexModuleGoodsNum}
    </select>
</mapper>
