<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wukongnotnull.shop.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.wukongnotnull.shop.domain.OrderItem">
            <id property="orderItemId" column="order_item_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsCoverImg" column="goods_cover_img" jdbcType="VARCHAR"/>
            <result property="sellingPrice" column="selling_price" jdbcType="INTEGER"/>
            <result property="goodsCount" column="goods_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_item_id,order_id,goods_id,
        goods_name,goods_cover_img,selling_price,
        goods_count,create_time
    </sql>

    <insert id="insertBatch" parameterType="com.wukongnotnull.shop.service.bo.CartItemBO">
        insert into shop_order_item
        (order_id,goods_id,goods_name,goods_cover_img,selling_price,goods_count)
        values
        <foreach collection="cartItemBOList" item="cartItemBO"  separator=",">
            (#{cartItemBO.orderId},#{cartItemBO.goodsId},#{cartItemBO.goodsName},#{cartItemBO.goodsCoverImg},
               #{cartItemBO.sellingPrice},#{cartItemBO.goodsCount})
        </foreach>

    </insert>

    <select id="selectOrderItems" resultType="com.wukongnotnull.shop.domain.OrderItem">
        select
        <include refid="Base_Column_List"/>
        from shop_order_item
        where order_id =#{orderId}
    </select>

</mapper>
