<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wukongnotnull.shop.mapper.ShoppingCartItemMapper">

    <resultMap id="BaseResultMap" type="com.wukongnotnull.shop.domain.ShoppingCartItem">
            <id property="cartItemId" column="cart_item_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="goodsCount" column="goods_count" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        cart_item_id,user_id,goods_id,
        goods_count,is_deleted,create_time,
        update_time
    </sql>
</mapper>
